<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>

<!--<div style="width: 100%; height:62px; background-color: #1D2330; overflow:hidden; box-sizing: border-box; border: 1px solid #282E3B; border-radius: 4px; text-align: right; line-height:14px; block-size:62px; font-size: 12px; box-sizing:content-box; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #262B38;padding:1px;padding: 0px; margin: 0px;"><div style="height:40px;"><iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark&pref_coin_id=859&invert_hover=no" width="100%" height="36" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div><div style="color: #626B7F; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing:content-box; margin: 5px 6px 10px 0px; font-family: Verdana, Tahoma, Arial, sans-serif;">&nbsp;<a href="https://www.wingedex.com" target="_blank" style="font-weight: 500; color: #626B7F; text-decoration:none; font-size: 11px;">Wingedex</a></div></div>-->

<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
            <div class="card w-100">
              <div class="card-body">
                <h2>Coin Listing</h2>
                <p class="card-text">
We only accept bitcoin based altcoins (coins with <a href="https://en.bitcoin.it/wiki/Original_Bitcoin_client/API_calls_list">RPC 1.0</a> compatibility).<br>
Cryptonote and Zcash forks and Ethereum tokens are currently not accepted<br><hr><br>

To be listed on the Wingedex a coin should satisfy several requirements<br>
<br>
1. Аt least 1 page with informatible messages on <a href="https://bitcointalk.org">bitcointalk</a><br>
2. Trading volume should be at least $10000  in a month<br>
3. Link on the Wingedex should be in the Announce post on the bitcointalk <br>
<br>
<hr><br>
Coin can be delisted if:<br>
* Has few trades during 2 weeks period<br>
* Consumes a lot of server resources and can't be fixed<br>
* Unstable wallet or unstable blockchain (multiple chains / stopped blocks)<br>
* Coin which turns to be scam will be delisted instantly<br>
<hr><br>
To list your altcoin please fill the listing form given below.<br><br>
<!--Please include:<br>
1. Coin name and ticker<br>
2. Forum ann thread<br>
3. Coin Source<br>
4. Listing option<br><br>-->
After our team check your coin,we will contact you with further informations.<br>
</p>   
<center>
<iframe src="https://forms.gle/UT9AdVenCJ1LCc1v5" width="100%" height="2500px">
</iframe>
</center>
            
              </div>
            </div>
        </div>
      </div>
 </div><br><br><br><br>
    </div> <!-- /container -->

    <% include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
